pyrofork==2.3.45
tgcrypto
pymongo[srv]==4.5.0
motor==3.3.2
marshmallow==3.20.1
umongo==3.1.0

git+https://github.com/Joelkb/cinemagoer

search_engine_parser==0.6.1
wget
aiofiles
ffmpeg-python==0.2.0
ffmpeg
requests
aiohttp==3.14.3
ujson
pyshorteners
datetime
pytz
dnspython==2.3.0
python-math
speedtest-cli
shortzy
fuzzywuzzy
wheel==0.46.3

gunicorn==20.1.0
werkzeug==2.0.2
Flask==2.1.3
itsdangerous==2.0.1

python-Levenshtein
google-search-results

opencv-python-headless==4.8.1.78
python-dotenv==0.21.1
speedtest==0.0.1
humanize==4.6.0
Pillow==10.3.0
psutil==5.9.4
numpy==2.2.6
python-decouple

jinja2
apscheduler
pyromod
colorama
telegraph

# --- Voice Search ---
SpeechRecognition
pydub
static-ffmpeg
